
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 
<div class="container">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >FirstName</label>
      {{input type="text" class="form-control" placeholder="enter your FirstName" value=firstname }}
    </div>
    <div class="form-group col-md-6">
      <label>Second Name</label>
      {{input type="text" class="form-control"  placeholder="enter your SecondName" value=secondname }}
    </div>
  </div>
  <div class="form-group">
    <label>Email Id</label>
    {{input type="email" class="form-control"  placeholder="enter your mail id" value=emailid}}
  </div>
  <div class="form-group">
    <label >Phone Number</label>
    {{input type="text" class="form-control"  placeholder="enter your Number" value=number}}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Nick Name</label>
      {{input type="text" class="form-control" placeholder='Nickname' value=nickname}}
    </div>
    <div class="form-group col-md-4">
      <label>Birthday</label>
      {{input type='date' class="form-control" value=birthday}}
    </div>
    <div class="form-group col-md-2">
      <label >Relationship</label>
      {{input type="text" class="form-control" value=relation}}
    </div>
  </div>
  {{#link-to 'phonebook'}}
  <button   type="submit" class="btn btn-primary" {{action "addTocontact" }} >Submit</button>
  {{/link-to}}
</form>
</div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{outlet}}